{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
<div class="flex min-h-screen flex-col justify-center items-center px-[5vw] py-[5vh]">
    <!-- Logo y título -->
    <div class="w-full max-w-[80%] text-center">
        <img class="mx-auto h-[10vh] w-auto" src="{% static 'assets/logo.png' %}" alt="Hospital Infantil de las Californias">
        <h2 class="mt-[3vh] font-bold tracking-tight text-gray-900">¡Bienvenido!</h2>
    </div>

    <!-- Contenedor del formulario -->
    <div class="mt-[5vh] w-full max-w-[60vw] border-2 border-[#355E9F] rounded-lg p-[5vh]">
        <!-- Alertas -->
        <div class="alert-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert bg-red-200 text-red-800 p-2 rounded-md">
                        <h2>{{ message }}</h2>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Formulario de inicio de sesión -->
        <form class="space-y-[3vh]" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'usuarios' %}">

            <!-- Campo de usuario -->
            <div>
                <label for="username" class="block font-medium text-gray-900">Usuario</label>
                <div class="mt-[1vh]">
                    {{ form.username|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
                </div>
            </div>

            <!-- Campo de contraseña -->
            <div>
                <label for="password" class="block font-medium text-gray-900">Contraseña</label>
                <div class="relative mt-[1vh]">
                    {{ form.password|add_class:"form-input w-full text-[1.8vh] p-[1vh] pr-[4vh] rounded-lg" }}
                    <button type="button" onclick="togglePassword()"
                        class="absolute inset-y-0 right-[2vh] top-1/2 transform -translate-y-1/2 flex items-center px-2">
                        <svg id="eye-icon" xmlns="http://www.w3.org/2000/svg" class="w-[3vh] h-[3vh] text-gray-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Botón de ingreso -->
            <div>
                <button type="submit" class="form-button w-full text-[2vh] p-[1.5vh] rounded-lg">Ingresar</button>
            </div>
        </form>
    </div>
</div>

<script>
    function togglePassword() {
        let passwordField = document.getElementById("id_password");
        let eyeIcon = document.getElementById("eye-icon");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.add("text-blue-500");
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("text-blue-500");
        }
    }
</script>
{% endblock content %}
