<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'assets/logo.png' %}" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">

</head>


<div class="fixed-top-border"></div>

<center><img src="{% static 'assets/logo.png' %}"></center>

<body>
    <center>
            <h1>¡Bienvenido!</h1>
            <div class="form-container">

                <form method="post">
                    
                <div class="alert-container">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <h2>{{ message }} </h2>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                    {% csrf_token %}
                    <h2>Usuario</h2>
                    {{ form.username }}
                    <h2>Contraseña</h2>
                    {{ form.password }}
            </div>
    </center>

        <br><br>

        <center>
                <button type="submit">
                    <b>Ingresar</b>
                </button>
                </form>

</body>
</html>
