{% load static %}


<!DOCTYPE html>
<html lang="en">
    <!-- ESTANDARIZACIÓN DE COLORES-->
    <!-- AZUL: 355E9F -->
    <!-- ROJO: E32525 -->
    <!-- AMARILLO: FDD007 -->
    <!-- VERDE: 76BD42 -->
    <!-- NEGRO: 222222 -->


<head>
    <link rel="stylesheet" href="{% static 'CSS/interfazGeneral.css' %}">

    <div class="fixed-top-border">
        <h1>Pacientes</h1>
    </div>


    

    <!--BOTON DE MAS Y PACIENTES DESHABILITADOS-->
    <link href="{% static 'assets/Interfaz/plus.png' %}" rel="icon" type="image/png">
    <link href="{% static 'assets/Interfaz/disabledPatients.png' %}" rel="icon" type="image/png">
    <link href="{% static 'assets/Interfaz/campana.png' %}" rel="icon" type="image/png">
    {% if user_profile.funcionalidad == "enfermero" %}
        <div class="image-container">
            <a href=" {% url 'registroPaciente' %}">
            <img src="{% static 'assets/Interfaz/plus.png' %}">
            </a>

            <a href="{% url 'pacientesDeshabilitados' %}">
            <img src="{% static 'assets/Interfaz/disabledPatients.png' %}">
            </a>

            <a href="{% url 'verNotificaciones' %}">
            <img src="{% static 'assets/Interfaz/campana.png' %}">    
            </a>

        </div>

        
    {% endif %}

</head>

<body>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Expediente</th>
                <th>Fecha de ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}

                {% if paciente.paciente_Habilitado == "Habilitado" %}
                <tr onclick="window.location='{% url 'perfilPaciente' paciente.expediente %}'" style="cursor: pointer;">
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.expediente }}</td>
                    <td>{{ paciente.fecha_ingreso }}</td>
                </tr>
                {% endif %}
            {% empty %}
            <tr>
                <td colspan="3">No hay pacientes registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>