{% extends '_base.html' %}
{% load static %}

{% block title %}Pacientes{% endblock %}

{% block content %}
<!-- Barra superior -->
<header class="bg-[#355E9F] h-[8vh] landscape:h-[15vh] w-full fixed top-0 flex items-center justify-center shadow-md">
    <h1 class="text-white font-bold">Usuarios</h1>
</header>

<main
    class="flex flex-col items-center pt-[10vh] landscape:pt-[17vh] max-w-full h-[calc(100vh-6vh)] overflow-hidden pb-[5vh]">
    <!-- Contenedor de la tabla -->
    <div class="relative overflow-x-auto overflow-y-auto w-[95%] border-2 border-[#355E9F] rounded-lg">
        <table class="table-container text-xs sm:text-sm md:text-base lg:text-lg">
            <thead class="text-white uppercase bg-[#355E9F] sticky top-0 z-10">
                <tr class="bg-[#355E9F]">
                    <th class="py-2 px-4 rounded-tl-sm">Nombre</th>
                    <th class="py-2 px-4">Expediente</th>
                    <th class="py-2 px-4 rounded-tr">Fecha de ingreso</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr class="tbody-tr-container"
                    onclick="window.location='{% url 'perfilPaciente' paciente.expediente %}'">
                    <td class="py-2 px-4">{{ paciente.nombre }}</td>
                    <td class="py-2 px-4">{{ paciente.expediente }}</td>
                    <td class="py-2 px-10">{{ paciente.fecha_ingreso }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center py-4 rounded-b-lg">No hay pacientes registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<!-- Botón de agregar y deshabilitar paciente paciente -->
{% if user_profile.funcionalidad == "enfermero" %}
<div class="fixed right-[5vh] bottom-[5vh]">
    <div class="flex flex-col gap-2">
        <a href="{% url 'registroPaciente' %}">
            <img src="{% static 'assets/Interfaz/plus.png' %}" class="w-[10vw] h-[10vw] landscape:w-[5vw] landscape:h-[5vw]">
        </a>
        <a href="{% url 'pacientesDeshabilitados' %}">
            <img src="{% static 'assets/Interfaz/disabledPatients.png' %}" class="w-[10vw] h-[10vw] landscape:w-[5vw] landscape:h-[5vw]">
        </a>
    </div>
</div>
{% endif %}
{% endblock %}