.fixed-top-border{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 169.3px;
    background-color: #355e9f;
    z-index: 1000;

    display: flex;
    align-items: center;

    font-family: Montserrat;
    color: white;
    padding: 10px;
}

.fixed-top-border a
{
    scale: 60%;
}

.fixed-top-border img
{
    scale: 60%;
}


.fixed-bottom-border
    {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#355e9f;
        padding: 10px;
        height: 169.3px;
    }

    .icon-container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .icon-item
    {
        position: relative;
        flex: 1;
        margin: 0px; /* Espaciado entre los íconos */
        text-align: center; /* Asegura que el texto esté centrado */
    }

    .icon-item img
    {
        margin-left: 0%;
        margin-bottom: 40px;
        scale: 40%;
    }

    .icon-item p
    {
        position: absolute;
        bottom: 0; /* Coloca el texto en la parte inferior del contenedor del ícono */
        left: 50%;
        color: white;
        font-family: Montserrat;
        font-size: 20px;
        transform: translateX(-50%) translateY(-220%);
    }


.form-container {
    margin-top: 50px; /* Ajusta el margen superior para posicionar la sección */
    padding: 20px; /* Espacio interno del contenedor */
    background-color: white; /* Fondo blanco para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    width: 800px; /* Ancho del contenedor para que coincida con los inputs */
    display: flex; /* Habilita Flexbox */
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center;
    margin-bottom: 200px;
    margin-top: 200px;
}

.form-container h3
{
    font-size: 35px;
}

.form-container p{
    font-family: Calibri;
    font-size: 30px;
}


.section-title
{
    background-color: #EEEEEE;
    width: 400px;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 80px;
    text-align: center;
}

.section-title h2
{
    font-family: Montserrat;
    font-size: 45px;
}

.fixed-top-border h1{
    font-family: Montserrat;
    font-size: 60px;

}

h2{
    font-family: Montserrat;
    font-size: 40px;
}

h3{
    font-family: Calibri;
    font-size: 30px;
    align-self: flex-start; /* Alinear el h3 al inicio del contenedor */
    text-align: left; /* Alinea el texto del h3 a la izquierda */
    width: 100%; /* Asegura que el h3 ocupe todo el ancho disponible */
    padding-left: 20px; /* Opcional: separa el texto del borde izquierdo */
}

p
{
    font-family: Calibri; 
    align-self: flex-start;
    text-align: justify;
}


.pdf-navigation {
    display: flex;
    flex-direction: column; /* Cambia a columna */
    justify-content: center; /* Asegura alineación vertical */
    align-items: center;
    margin-bottom: 15px;
    gap: 10px; /* Espaciado entre los botones y el mensaje */
}

.pdf-navigation button
{
    background-color: #355e9f;
    font-family: Montserrat;
    width: 400px;
    height: 100px;
    font-size: 60px;
    color: white;
    border-radius: 8px;
}

.pdf-navigation .page-info h3 {
    font-size: 30px; /* Ajusta el tamaño de la fuente */
    color: #355e9f;
    margin-top: 30px; /* Espaciado con respecto a los botones */
}

.button-container {
    display: flex; /* Mantiene los botones en una fila */
    gap: 20px; /* Espaciado entre los botones */
}

