{% load static %}
<script>
    function goBack() {
    window.history.back();
    }
</script>

<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'CSS/forms.css' %}">
        
        <div class="fixed-top-border">

            <a onclick="goBack()">
                <img src="{% static 'assets/Interfaz/previous.png' %}">
            </a>

            <h1>Actualización de Tratamiento.</h1>
        </div>
    </head>

    <body>

        <center>
            <form action="{% url 'edicionTratamiento' expediente=paciente.expediente id_tratamiento=tratamiento.id_Tratamiento%}" method="post">
                {% csrf_token %}

                {{ form.nombre_Medicamento.as_hidden }}
                {{ form.dosis_Administrada.as_hidden }}
                {{ form.via_Administracion.as_hidden }}
                {{ form.frecuencia_Dosis.as_hidden }}
                {{ form.tiempo_Dosis.as_hidden }}
                {{ form.duracion_Terapia.as_hidden }}
                {{ form.otras_Indicaciones.as_hidden }}

                <!-------------------------------------------------------------------------|  ESTE SE DESPLIEGA  |----------------------------------------------------------------------------------------------->
                <div class="form-container">
                    <div class="section-title"><h2>Aplicación de tratamiento</h2></div>
                    {{ form.tratamiento_activo }}
    
                    <h3>Actualizar tratamiento</h3>
                    {{ form.historial_aplicacion }}
    
                </div>

            <a href="{% url 'mostrarPacientesEnfermero' %}">
                <button type="submit"><b>Registrar</b></button>
            </a>
        </form>
        
    </center>
    </body>
</html>
