{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Cambio de password{% endblock %}

{% block content %}
<div class="flex min-h-screen flex-col justify-center items-center px-[5vw] py-[5vh]">
    
    <!-- Titulo e imagen -->
    <div class="w-full max-w-[80%] text-center">
        <img class="mx-auto h-[10vh] w-auto" src="{% static 'assets/logo.png' %}" alt="Hospital Infantil de las Californias">
        <h2 class="mt-[5vh] font-bold tracking-tight text-gray-900">Cambio de contraseña</h2>
    </div>


    <!-- Mensaje para el usuario -->
    <div class="w-full max-w-[80%] mx-auto text-justify">
        <h2 class="mt-[3vh] font-bold tracking-tight text-gray-500">Por favor, ingrese una nueva contraseña.</h2>
    </div>



    <!-- Campo de contraseña -->
    <div class="mt-[5vh] w-full max-w-[70vw] border-2 border-[#355E9F] rounded-lg p-[5vh]">


        <!-- Mensaje de error -->
        <div class="alert-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert bg-red-200 text-red-800 p-2 rounded-md">
                        <h2>{{ message }}</h2>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <form class="space-y-[3vh]" method="POST" action="{% url 'cambiarPassword' %}">
            {% csrf_token %}
            
            <label for="password" class="block font-medium text-gray-900">Nueva contraseña</label>
            <input type="password" id="password" name="password" 
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 p-2"
                placeholder="Ingresa tu nueva contraseña" required>
        
            <label for="confirm_password" class="block font-medium text-gray-900">Confirmar contraseña</label>
            <input type="password" id="confirm_password" name="confirm_password" 
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 p-2"
                placeholder="Confirma tu nueva contraseña" required>
        
            <button type="submit" class="form-button w-full text-[2vh] p-[1.5vh] rounded-lg bg-blue-600 text-white hover:bg-blue-700">
                Cambiar contraseña
            </button>
        </form>
    
    </div>





</div>

{% endblock content %}