{% load static %}
<script>
    function goBack() {
        window.history.back();
    }
</script>

<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="stylesheet" href="{% static 'CSS/forms.css' %}">
        
    <link href="{% static 'assets/Interfaz/previous.png' %}" rel="icon" type="image/png">

    <div class="fixed-top-border">
        <a onclick="goBack()">
            <img src="{% static 'assets/Interfaz/previous.png' %}">
        </a>
        <h1>Edición de paciente</h1>

    </div>
</head>

<body>
    <center>
        <form action="{% url 'editarPaciente' expediente=paciente.expediente %}" method="post">
            {% csrf_token %}
            <div class="form-container">
                <div class="section-title">
                    <h2>Características del paciente</h2>
                </div>

                <h3> 
                    Nombre:
                    <input type="text" name="nombre" value="{{ form.nombre.value }}" required maxlength="100">
                </h3>
`
                <h3>Apellido paterno: 
                    <input type="text" name="apellido_paterno" value="{{ form.apellido_paterno.value }}" required maxlength="100">
                </h3>

                <h3>Apellido materno: 
                    <input type="text" name="apellido_materno" value="{{ form.apellido_materno.value }}" required maxlength="100">
                </h3>

                <h3>Fecha de nacimiento: 
                    <input type="date" name="fecha_nacimiento" value="{{ form.fecha_nacimiento.value }}" required>
                </h3>

                <h3>Fecha de ingreso: 
                    <input type="date" name="fecha_ingreso" value="{{ form.fecha_ingreso.value }}" required>
                </h3>

                <h3>Altura (cm): 
                    <input type="number" name="altura" value="{{ form.altura.value }}" required min="0" max="300">
                </h3>

                <h3>Peso (kg): 
                    <input type="number" name="peso" value="{{ form.peso.value }}" required min="0" max="200">
                </h3>
            </div>

            <div class="form-container">
                <div class="section-title">
                    <h2>Cirugía</h2>
                </div>

                <h3>Cirugía realizada: 
                    <input type="text" name="cirugia_realizada" value="{{ form.cirugia_realizada.value }}" required maxlength="100">
                </h3>

                <h3>Diagnóstico clínico prequirúrgico
                    <input type="text" name="diagnostico_clinico_prequirurgico" value="{{ form.diagnostico_clinico_prequirurgico.value }}" required maxlength="300">
                </h3>
            </div>

            <div class="form-container">
                <div class="section-title">
                    <h2>Nota de enfermería</h2>
                </div>

                <h3>Ingrese nota de enfermería
                    <input type="text" name="nota_enfermeria" value="{{ form.nota_enfermeria.value }}" required maxlength="300">
                </h3>
            </div>

            <div class="form-container">
                <div class="section-title">
                    <h2>Médico encargado</h2>
                </div>

                <h3>Seleccione el médico encargado</h3>
                {{ form.medico_Encargado }} 
            </div>
            <a href="{% url 'pacientes' %}">
                <button type="submit"><b>Registrar</b></button>
            </a>
    </center>
    </form>
</body>



</html>