{% load static %}
<script>
    function goBack() {
    window.history.back();
    }
</script>

<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'CSS/forms.css' %}">

        <div class="fixed-top-border">

            <a onclick="goBack()">
                <img src="{% static 'assets/Interfaz/previous.png' %}">
            </a>

            <h1>Edición de paciente.</h1>
        </div>
    </head>

    <body>

        <center>
            <form action="{% url 'edicionTratamiento' expediente=paciente.expediente id_tratamiento=tratamiento.id_Tratamiento%}" method="post">
                {% csrf_token %}
                
                <div class="form-container">
                    <div class="section-title"><h2>Tratamiento</h2></div>

                    <h3>Nombre del medicamento:</h3>
                    {{ form.nombre_Medicamento }}

                    <h3>Dosis administrada:</h3>
                    {{ form.dosis_Administrada }}

                    <h3>Vía:</h3>
                    {{ form.via_Administracion }}
                </div>

                <div class="form-container">
                    <div class="section-title"><h2>Frecuencia y duración</h2></div>

                    <h3>Ingrese frecuencia de dosis:</h3>
                    {{ form.frecuencia_Dosis }}

                    <h3>Tiempo:</h3>
                    {{ form.tiempo_Dosis }}

                    <h3>Duración de terapia en días:</h3>
                    {{ form.duracion_Terapia }}
                </div>

                <div class="form-container">
                    <div class="section-title"><h2>Otras indicaciones</h2></div>
                    {{ form.otras_Indicaciones }}
                </div>

                <div class="form-container">
                    <div class="section-title"><h2>Aplicación de tratamiento</h2></div>
                    {{ form.tratamiento_activo }}
    
                    <h3>Actualizar tratamiento</h3>
                    {{ form.historial_aplicacion }}
    
                </div>

            <a href="{% url 'mostrarPacientesMedico' %}">
                <button type="submit"><b>Registrar</b></button>
            </a>
        </form>
        
    </center>
    </body>
</html>
