{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Registro de usuario{% endblock %}

{% block content %}
<!-- Barra superior -->
<header
    class="bg-[#355E9F] h-[8vh] landscape:h-[15vh] w-full fixed top-0 flex items-center justify-center shadow-md relative">
    <img src="{% static 'assets/interfaz/previous.png' %}" alt="Back"
        class="w-[4vh] landscape:w-[6vh] absolute left-[2vh] landscape:left-[3vh]" onclick="window.history.back()">

    <h1 class="text-white font-bold ">Edicion de datos de paciente</h1>
</header>

<main class="flex flex-col items-center pt-[10vh] landscape:pt-[17vh] max-w-full min-h-[calc(100vh-6vh)] pb-[2vh]">
    <form action="{% url 'edicionTratamiento' expediente=paciente.expediente pk=tratamiento.id_Tratamiento %}"
        method="post" class="w-[90%] max-w-lg space-y-6">
        {% csrf_token %}

        <!-- Tratamiento -->
        <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full">
            <div class="section-title flex items-center gap-2">
                <svg class="w-6 h-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z" />
                </svg>
                <h2 class="text-lg font-bold">Tratamiento</h2>
            </div>
            <label class="block font-semibold">Nombre del medicamento:</label>
            {{ form.nombre_Medicamento|add_class:"form-input w-full text-sm p-[1vh] rounded-lg" }}

            <label class="block font-semibold">Dosis administrada:</label>
            {{ form.dosis_Administrada|add_class:"form-input w-full text-sm p-[1vh] rounded-lg" }}

            <label class="block font-semibold">Vía:</label>
            {{ form.via_Administracion|add_class:"form-input w-full text-sm p-[1vh] rounded-lg" }}
        </div>

        <!-- Frecuencia y duración -->
        <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full">
            <div class="section-title flex items-center gap-2">
                <svg class="w-6 h-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z" />
                </svg>
                <h2 class="text-lg font-bold">Frecuencia y duración</h2>
            </div>
            <label class="block font-semibold">Frecuencia de dosis:</label>
            {{ form.frecuencia_Dosis|add_class:"form-input w-full text-sm p-[1vh] rounded-lg" }}

            <label class="block font-semibold">Tiempo:</label>
            {{ form.tiempo_Dosis|add_class:"form-input w-full text-sm p-[1vh] rounded-lg" }}

            <label class="block font-semibold">Duración de terapia en días:</label>
            {{ form.duracion_Terapia|add_class:"form-input w-full text-sm p-[1vh] rounded-lg" }}
        </div>

        <!-- Otras indicaciones -->
        <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full">
            <div class="section-title flex items-center gap-2">
                <svg class="w-6 h-6 text-purple-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z" />
                </svg>
                <h2 class="text-lg font-bold">Otras indicaciones</h2>
            </div>
            {{ form.otras_Indicaciones|add_class:"form-input w-full text-sm p-[1vh] rounded-lg" }}
        </div>

        <!-- Aplicación de tratamiento -->
        <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full">
            <div class="section-title flex items-center gap-2">
                <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z" />
                </svg>
                <h2 class="text-lg font-bold">Aplicación de tratamiento</h2>
            </div>
            {{ form.tratamiento_activo|add_class:"form-input w-full text-sm p-[1vh] rounded-lg" }}
        </div>

        <!-- Botón de envío -->
        <div class="flex justify-center">
            <button type="submit"
                class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-700 w-[50%]">
                <b>Guardar cambios</b>
            </button>
        </div>
    </form>
</main>
