{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Estudios y Gabinete{% endblock %}

{% block content %}
<!-- Barra superior -->
<header
    class="bg-[#355E9F] h-[8vh] landscape:h-[15vh] w-full fixed top-0 flex items-center justify-center shadow-md relative">
    <img src="{% static 'assets/interfaz/previous.png' %}" alt="Back"
        class="w-[4vh] landscape:w-[6vh] absolute left-[2vh] landscape:left-[3vh]" onclick="window.history.back()">

    <h1 class="text-white font-bold ">Estudios y Gabinete</h1>
</header>

<main class="flex flex-col items-center pt-[10vh] landscape:pt-[17vh] max-w-full min-h-[calc(100vh-6vh)] pb-[2vh]">
    <div class="relative overflow-x-auto overflow-y-auto w-[95%] border-2 border-[#355E9F] rounded-lg">
        <table class="table-container text-xs sm:text-sm md:text-base lg:text-lg">
            <thead class="text-white uppercase bg-[#355E9F] sticky top-0 z-10">
                <tr class="bg-[#355E9F]">
                    <th class="py-2 px-4 rounded-tl-sm">Nombre</th>
                    <th class="py-2 px-4">Tipo</th>
                    <th class="py-2 px-4 rounded-tr-sm">Fecha de realizacion</th>
                </tr>
            </thead>
            <tbody>
                {% for item in estudiosyGabinete %}
                {% if item.nombre_Estudio %}
                <tr onclick="window.location='{% url 'estudio' expediente=paciente.expediente id_Estudio=item.id_Estudio %}'"
                    style="cursor: pointer;">
                    <td>{{ item.nombre_Estudio }}</td>
                    <td>Estudio</td>
                    <td>{{ item.fecha_realizada }}</td>
                </tr>
                {% endif %}
                {% if item.nombre_Radiografia %}
                <tr onclick="window.location='{% url 'radiografia' expediente=paciente.expediente id_Radiografia=item.id_Radiografia %}'"
                    style="cursor: pointer;">
                    <td>{{ item.nombre_Radiografia }}</td>
                    <td>Radiografia</td>
                    <td>{{ item.fecha_realizada }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<footer class="fixed bottom-0 w-full bg-[#355E9F] h-[4rem] landscape:h-[3rem] flex justify-center items-center">
    <div class="w-full flex flex-row justify-center items-center gap-6 landscape:gap-16 relative">
        <!-- Botón Usuarios -->
        <a href="{% url 'pacientes' %}" class="flex flex-col items-center">
            <img src="{% static 'assets/interfaz/user.png' %}"
                class="w-[4vh] h-[4vh] landscape:w-[6vh] landscape:h-[6vh]">
            <p class="text-white text-sm">Usuarios</p>
        </a>

        {% if user_profile.funcionalidad == "enfermero" %}
        <!-- Boton Agregar -->
        <button id="botonAgregar" class="flex flex-col items-center">
            <img src="{% static 'assets/interfaz/plus.png' %}"
                class="w-[4vh] h-[4vh] landscape:w-[6vh] landscape:h-[6vh]">
            <p class="text-white text-sm">Agregar</p>
        </button>
        
        <!-- Menu Agregar -->
        <div id="menuAgregar"
            class="z-10 hidden divide-y rounded-lg shadow-sm w-44 bg-gray-700 divide-gray-600 absolute bottom-full left-10 mb-2">
            <ul class="py-2 text-gray-700 text-center" aria-labelledby="dropdownMenuIconHorizontalButton">
                <div class="py-2"> 
                    <li>
                        <a href="{% url 'registroEstudios' expediente=paciente.expediente %}"
                            class="block text-white px-4 py-2 hover:bg-gray-600">Registrar estudio</a>
                    </li>
                    <li>
                        <a href="{% url 'registroRadiografias' expediente=paciente.expediente %}"
                            class="block text-white px-4 py-2 hover:bg-gray-600">Registrar radiografia</a>
                    </li>
                </div>
            </ul>
        </div>
        {% endif %}

        <!-- Boton signos vitales -->
        <a href="{% url 'signosVitales' %}" class="flex flex-col items-center">
            <img src="{% static 'assets/interfaz/vitalSigns.png' %}"
                class="w-[4vh] h-[4vh] landscape:w-[6vh] landscape:h-[6vh]">
            <p class="text-white text-sm">Signos V.</p>
        </a>

        <!-- Botón de menú con tres puntos -->
        <button id="dropdownMenuIconHorizontalButton"
            class="text-white bg-[#355E9F] hover:bg-blue-500 focus:outline-none w-auto h-full flex items-center justify-center relative">
            <svg class="w-[6vw] h-[6vw] landscape:w-[4vw] landscape:h-[4vw]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 16 3">
                <path
                    d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
            </svg>
        </button>
        <!-- <p class="uppercase mt-1 text-white text-center font-bold text-xs md:text-sm absolute bottom[-1vh]">Más</p> -->

        <!-- Dropdown derecha -->
        <div id="dropdownDotsHorizontal"
            class="z-10 hidden divide-y rounded-lg shadow-sm w-44 bg-gray-700 divide-gray-600 absolute bottom-full right-15 mb-2">
            <ul class="py-2 text-gray-700 text-center" aria-labelledby="dropdownMenuIconHorizontalButton">
                <div class="py-2">
                    {% if user_profile.funcionalidad == "enfermero" %}
                    <li>
                        <a href="{% url 'editarPaciente' expediente=paciente.expediente %}"
                            class="block text-white px-4 py-2 hover:bg-gray-600">Editar paciente</a>
                    </li>
                    <li>
                        <a class="block text-white px-4 py-2 hover:bg-gray-600" href="#">Llamar doctor</a>
                    </li>
                    {% elif user_profile.funcionalidad == "medico" %}
                    <li>
                        <a href="{% url 'agregarTratamiento' expediente=paciente.expediente %}"
                            class="block text-white px-4 py-2 hover:bg-gray-600">Agregar tratamiento</a>
                    </li>
                    <li>
                        <a class="block text-white px-4 py-2 hover:bg-gray-600" href="#">Llamar paciente</a>
                    </li>
                    <li>
                        <a class="block text-white px-4 py-2 hover:bg-gray-600" href="#">Llamar enfermero</a>
                    </li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdownButton = document.getElementById("dropdownMenuIconHorizontalButton");
        const dropdownMenu = document.getElementById("dropdownDotsHorizontal");
        const menuAgregar = document.getElementById("menuAgregar");
        const botonAgregar = document.getElementById("botonAgregar");

        botonAgregar.addEventListener("click", function (event) {
            event.stopPropagation(); // Evita que el clic se propague al documento
            menuAgregar.classList.toggle("hidden");
        });

        // Alternar visibilidad del menú cuando se haga clic en el botón
        dropdownButton.addEventListener("click", function (event) {
            event.stopPropagation(); // Evita que el clic se propague al documento
            dropdownMenu.classList.toggle("hidden");
        });

        // Cerrar el dropdown si se hace clic fuera de él
        document.addEventListener("click", function (event) {
            if (!dropdownMenu.contains(event.target) && !dropdownButton.contains(event.target)) {
                dropdownMenu.classList.add("hidden");
            }
            if (!menuAgregar.contains(event.target) && !botonAgregar.contains(event.target)) {
                menuAgregar.classList.add("hidden");
            }
        });
    });
</script>
{% endblock %}