{% load static %}


<!DOCTYPE html>
<html lang="en">


<!--PARTE SUPERIOR-->

<head>
    <link rel="stylesheet" href="{% static 'CSS/interfazGeneral.css' %}">

    <div class="fixed-top-border"> 
        <h1>Pacientes</h1>
    </div>


</head>

<body>
    <!--CUADRO-->
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Expediente</th>
                <th>Fecha de ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in Pacientes %}
                {% if paciente.paciente_Habilitado == "Habilitado" %}
                <tr onclick="window.location='{% url 'perfilPacienteMedico' paciente.expediente %}'" style="cursor: pointer;">
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.expediente }}</td>
                    <td>{{ paciente.fecha_ingreso }}</td>
                </tr>
                {% endif %}
            {% empty %}
            <tr>
                <td colspan="3">No hay pacientes registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>