{% load static %}

<script>
    function goBack() {
    window.history.back();
    }
</script>

<!DOCTYPE html>
<html lang="en">

<!--PARTE SUPERIOR-->

<head>
    <link href="{% static 'assets/Interfaz/previous.png' %}" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'CSS/interfazGeneral.css' %}">


    <div class="fixed-top-border">
        <a onclick="goBack()">
        <img src="{% static 'assets/Interfaz/previous.png' %}">
        </a>
        <h1>Pacientes deshabilitados</h1>
    </div>

</head>

<body>
          
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Expediente</th>
                <th>Fecha de ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
                {% if paciente.paciente_Habilitado == "Deshabilitado" %}
                <tr onclick="window.location='{% url 'perfilPacienteEnfermero' paciente.expediente %}'" style="cursor: pointer;">
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.expediente }}</td>
                    <td>{{ paciente.fecha_ingreso }}</td>
                </tr>
                {% endif %}
            {% empty %}
            <tr>
                <td colspan="3">No hay pacientes registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>