{% load static %}

<script>
    function goBack() {
    window.history.back();
    }
</script>


<!DOCTYPE HTML>
<HTML lang="en">



<head>
    <link rel="stylesheet" href="{% static 'CSS/forms.css' %}">
    <link href="{% static 'assets/Interfaz/previous.png' %}" rel="icon" type="image/png">

    <div class="fixed-top-border">

        <a onclick="goBack()">
            <img src="{% static 'assets/Interfaz/previous.png'%}">
        </a>

        <h1>Registro de estudios</h1>

    </div>

</head>


<body>
    <center>

        
        <form action="{% url 'registroEstudios' expediente=paciente.expediente %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-container">
                <div class="section-title"><h2>Registro de estudio</h2></div>

                <h3>Ingrese el nombre del estudio:</h3>

                {{ form.nombre_Estudio }}

                <h3>Ingrese la fecha en que se realizó el estudio:</h3>

                {{ form.fecha_realizada }}

                <h3>Ingrese el archivo PDF con el resultado del estudio: </h3>

                {{ form.estudio }}

            </div>

            <a href="{% url 'estudiosyGabinete' expediente=paciente.expediente %}">
                <button type="submit">
                    <b>Registrar</b>
                </button>
            </a>
        </form>

    
    </center>


</body>

</HTML>