{% load static %}
<script>
    function goBack() {
    window.history.back();
    }
</script>

<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'CSS/forms.css' %}">
        <link href="{% static 'assets/Interfaz/previous.png' %}" rel="icon" type="image/png">

        <div class="fixed-top-border">
            <a onclick="goBack()">
            <img src="{% static 'assets/Interfaz/previous.png' %}">
            </a>
            <h1>Registro de paciente</h1>
            
        </div>
    </head>

    <body>
        <center>
            <form action="{% url 'registroPaciente' %}" method="post">
                {% csrf_token %}
                <div class="form-container">
                    <div class="section-title"><h2>Características del paciente</h2></div>

                    <h3>Nombre: </h3>
                    {{ form.nombre }}
                    
                    <h3>Apellido paterno: </h3>
                    {{ form.apellido_paterno }}

                    <h3>Apellido materno: </h3>
                    {{ form.apellido_materno }}

                    <h3>Fecha de nacimiento: </h3>
                    {{ form.fecha_nacimiento }}

                    <h3>Fecha de ingreso: </h3>
                    {{ form.fecha_ingreso }}

                    <h3>Altura: </h3>
                    {{ form.altura }}

                    <h3>Peso: </h3>
                    {{ form.peso }}

                </div>

                <div class="form-container">
                    <div class="section-title"><h2>Cirugía</h2></div>

                    <h3>Cirugía realizada: </h3>
                    {{ form.cirugia_realizada }}

                    
                    <h3>Diagnóstico clínico prequirúrgico</h3>
                    {{ form.diagnostico_clinico_prequirurgico }}
                </div>

                <div class="form-container">
                    <div class="section-title"><h2>Nota de enfermería</h2></div>

                    <h3>Ingrese nota de enfermería</h3>
                    {{ form.nota_enfermeria }}
                </div>

                 <div class="form-container">
                    <div class="section-title"><h2>Enfermeros Encargados</h2></div>

                    <h3>Seleccione a los enfermeros encargados:</h3>
                    {{ form.enfermeros_Encargados }}
                </div>
                
                <div class="form-container">
                    <div class="section-title"><h2>Médico encargado</h2></div>

                    <h3>Seleccione el médico encargado</h3>
                    {{ form.medico_Encargado }}
                </div>

                <a href="{% url 'mostrarPacientesEnfermero' %}"> 
                    <button type="submit"><b>Registrar</b></button>
                </a>
            </center>
        </form>
    </body>

</html>