{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Registro de tratamientos{% endblock %}

{% block content %}
<!-- Barra superior -->
<header
    class="bg-[#355E9F] h-[8vh] landscape:h-[15vh] w-full fixed top-0 flex items-center justify-center shadow-md relative">
    <img src="{% static 'assets/interfaz/previous.png' %}" alt="Back"
        class="w-[4vh] landscape:w-[6vh] absolute left-[2vh] landscape:left-[3vh]" onclick="window.history.back()">

    <h1 class="text-white font-bold ">Registro de tratamientos</h1>
</header>

<main class="flex flex-col items-center pt-[10vh] landscape:pt-[17vh] max-w-full min-h-[calc(100vh-6vh)] pb-[2vh]">
    <form action="{% url 'agregarTratamiento' expediente=paciente.expediente %}" method="post"
        class="w-[90%] max-w-lg space-y-6">

        {% csrf_token %}
        <!-- Tratamiento -->
        <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full">
            <div class="section-title flex items-center gap-2">
                <svg class="w-6 h-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
                <h2 class="text-lg font-bold">Tratamiento</h2>
            </div>
            <div class="mt-4 space-y-2">
                <label class="block font-semibold">Nombre del medicamento:</label>
                {{ form.nombre_Medicamento|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
                <label class="block font-semibold">Dosis administrada:</label>
                {{ form.dosis_Administrada|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
                <label class="block font-semibold">Vía:</label>
                {{ form.via_Administracion|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
            </div>
        </div>

        <!-- Frecuencia y duración -->
        <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full">
            <div class="section-title flex items-center gap-2">
                <svg class="w-6 h-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
                <h2 class="text-lg font-bold">Frecuencia y duración</h2>
            </div>
            <div class="mt-4 space-y-2">
                <label class="block font-semibold">Ingrese frecuencia de dosis:</label>
                {{ form.frecuencia_Dosis|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
                <label class="block font-semibold">Tiempo:</label>
                {{ form.tiempo_Dosis|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
                <label class="block font-semibold">Duración de terapia en días:</label>
                {{ form.duracion_Terapia|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
            </div>
        </div>

        <!-- Otras indicaciones -->
        <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full">
            <div class="section-title flex items-center gap-2">
                <svg class="w-6 h-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
                <h2 class="text-lg font-bold">Otras indicaciones</h2>
            </div>
            <div class="mt-4 space-y-2">
                {{ form.otras_Indicaciones|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
            </div>
        </div>

        <!-- Aplicación de tratamiento -->
        <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full">
            <div class="section-title flex items-center gap-2">
                <svg class="w-6 h-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
                <h2 class="text-lg font-bold">Aplicación de tratamiento</h2>
            </div>
            <div class="mt-4 space-y-2">
                {{ form.tratamiento_activo|add_class:"form-input w-full text-[1.8vh] p-[1vh] rounded-lg" }}
            </div>
        </div>

        <div class="flex justify-center">
            <a href="{% url 'pacientes' %}">
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-700 w-auto">
                    <b>Registrar</b>
                </button>
            </a>
        </div>
    </form>
</main>
{% endblock %}
