{% load static %}

<script>
    function goBack() {
    window.history.back();
    }
</script>

<!DOCTYPE html>
<html lang="en">

  

<head>

    <link href="{% static 'assets/Interfaz/previous.png' %}" rel="icon" type="image/png">
    <link href="{% static 'assets/Prototipado/VS.jpg' %}" rel="icon" type="image/jpg">
    <link rel="stylesheet" href="{% static 'CSS/vitalSigns.css' %}">



    <div class="fixed-top-border">
        <a onclick="goBack()">
            <img src="{% static 'assets/Interfaz/previous.png'%}">
        </a>
            <h1>Signos vitales</h1>
            
    </div>

</head>

<body>

    <center>}
        <h2 class="h2Encabezado">Hace 15 minutos</h2>
        <img src="{% static 'assets/Prototipado/VS.jpg'%}" class="vsEncabezado">
        <h2>Hace 30 minutos</h2>
        <img src="{% static 'assets/Prototipado/VS.jpg'%}" class="vs">
        <h2>Hace 45 minutos</h2>
        <img src="{% static 'assets/Prototipado/VS.jpg'%}" class="vs">
        <h2>Hace 60 minutos</h2>
        <img src="{% static 'assets/Prototipado/VS.jpg'%}" class="vs">
    </center>

</body>
</html>