{% extends '_base.html' %}
{% load static %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<!-- Barra superior -->
<header class="bg-[#355E9F] h-16 w-full fixed top-0 flex items-center justify-center shadow-md">
    <h1 class="text-white text-xl font-bold">Usuarios</h1>
</header>

<!-- Contenido principal -->
<main class="flex flex-col items-center pt-24 px-10">
    <!-- Tabla de usuarios -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-lg text-left rtl:text-right text-black ">
            <thead class="text-white uppercase bg-[#355E9F]">
                <!-- <div class="w-full max-w-4xl bg-white shadow-md rounded-lg p-4 relative overflow-x-auto">
        <table class="w-full text-left border-collapse">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50"> -->
                <tr>
                    <th class="py-2 px-4">Nombre</th>
                    <th class="py-2 px-4">ID</th>
                    <th class="py-2 px-4">Fecha de ingreso</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="hover:bg-gray-200 cursor-pointer"
                    onclick="window.location='{% url 'perfilUsuario' user.id %}'">
                    <td class="py-2 px-4">{{ user.username }}</td>
                    <td class="py-2 px-4">{{ user.id }}</td>
                    <td class="py-2 px-10">{{ user.user_profile.fecha_registro|date:"d-m-Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center py-4">No hay usuarios registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<!-- Botón de agregar usuario -->
<div class="fixed bottom-30 right-4">
    <a href="{% url 'registroUsuario' %}">
        <img src="{% static 'assets/Interfaz/plus.png' %}" class="w-15 h-15">
    </a>
</div>
<!-- Menú inferior -->
<div class="fixed bottom-0 w-full bg-[#355E9F] p-4 flex justify-center">
    <div class="flex flex-col items-center relative">
        <button id="dropdownMenuIconHorizontalButton" data-dropdown-toggle="dropdownDotsHorizontal"
            class="p-1 text-sm font-medium text-center text-white bg-[#355E9F] rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none"
            type="button">
            <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 16 3">
                <path
                    d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
            </svg>
        </button>
        <p class="mt-2 text-white text-center">Más</p>
    </div>
    <div id="dropdownDotsHorizontal"
        class="z-50 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-60 dark:bg-gray-700 dark:divide-gray-600 hidden absolute bottom-30">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 text-center"
            aria-labelledby="dropdownMenuIconHorizontalButton">
            <li>
                <a href="{% url 'usuariosDeshabilitados' %}"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Usuarios
                    deshabilitados</a>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
<script>
    document.getElementById("dropdownMenuIconHorizontalButton").addEventListener("click", function () {
        document.getElementById("dropdownDotsHorizontal").classList.toggle("hidden");
    });
</script>

{% endblock %}