{% extends '_base.html' %}
{% load static %}

{% block title %}Usuarios deshabilitados{% endblock %}

{% block content %}
<!-- Barra superior -->
<header class="bg-[#355E9F] h-16 w-full fixed top-0 flex items-center justify-center shadow-md">
    <h1 class="text-white text-xl font-bold">Usuarios deshabilitados</h1>
</header>

<main class="flex flex-col items-center pt-24 px-10 max-w-full">
    <!-- Contenedor de la tabla -->
    <div class="relative overflow-x-auto w-[95%] border-2 border-[#355E9F] rounded-lg">
        <table class="table-container">
            <thead class="text-white uppercase bg-[#355E9F]">
                <tr class="bg-[#355E9F]">
                    <th class="py-2 px-4 rounded-tl-sm">Nombre</th>
                    <th class="py-2 px-4">ID</th>
                    <th class="py-2 px-4 rounded-tr-sm">Fecha de ingreso</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="tbody-tr-container" onclick="window.location='{% url 'perfilUsuario' user.id %}'">
                    <td class="py-2 px-4">{{ user.username }}</td>
                    <td class="py-2 px-4">{{ user.id }}</td>
                    <td class="py-2 px-10">{{ user.user_profile.fecha_registro|date:"d-m-Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center py-4 rounded-b-lg">No hay usuarios registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<div class="fixed bottom-0 w-full bg-[#355E9F] p-4 flex justify-center">
    <div class="fixed-bottom-border">
        <div class="flex flex-row items-center gap-20">
            <a href="{% url 'usuarios' %}" class="flex flex-col items-center">
                <img src="{% static 'assets/interfaz/user.png' %}" class="w-15 h-15">
                <p class="text-white">Usuarios</p>
            </a>
            <a href="{% url 'registroUsuario' %}" class="flex flex-col items-center">
                <img src="{% static 'assets/interfaz/plus.png' %}" class="w-15 h-15">
                <p class="text-white">Nuevo usuario</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}