{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Verificacion de codigo{% endblock %}

{% block content %}
<div class="flex min-h-screen flex-col justify-center items-center px-[5vw] py-[5vh]">
    
    <!-- Titulo e imagen -->
    <div class="w-full max-w-[80%] text-center">
        <img class="mx-auto h-[10vh] w-auto" src="{% static 'assets/logo.png' %}" alt="Hospital Infantil de las Californias">
        <h2 class="mt-[5vh] font-bold tracking-tight text-gray-900">Recuperación de contraseña</h2>
    </div>


    <!-- Mensaje para el usuario -->
    <div class="w-full max-w-[80%] mx-auto text-justify">
        <h2 class="mt-[3vh] font-bold tracking-tight text-gray-500">Ingrese el código que recibio en su correo electrónico.</h2>
    </div>



    <!-- Campo de ingresar codigo -->
    <div class="mt-[5vh] w-full max-w-[70vw] border-2 border-[#355E9F] rounded-lg p-[5vh]">

        <!-- Mensaje de error en caso de ingresar mal el codigo -->
        <div class="alert-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert bg-red-200 text-red-800 p-2 rounded-md">
                        <h2>{{ message }}</h2>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <form class="space-y-[3vh]" method="POST" action="{% url 'verificarCodigo' %}">
            {% csrf_token %}
            <input type="text" id="codigo" name="codigo"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 p-2 text-center"
            placeholder="Ingresa el código" required>
            
        
            <button type="submit" class="form-button w-full text-[2vh] p-[1.5vh] rounded-lg">Verificar código</button>
        </form>

    </div>



</div>

{% endblock content %}